<!DOCTYPE html>
<html ng-app="SmartMirror">
  <head>
    <title>Welcome</title>
    <!-- Libraries -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="js/annyang.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <!-- App -->
    <!--<script src="/js/init.js"></script>-->
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/annyang-service.js"></script>
    <script src="js/weather-service.js"></script>
    <script src="js/map-service.js"></script>
    <script src="js/sound-service.js"></script>
    <script src="js/geolocation-service.js"></script>
    <script src="js/controller.js"></script>
    <!-- Styles and Resources -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body ng-controller="MirrorCtrl as commands">
    <div class="top">
      <div class="top-left">
        <div class="date grey">{{date | date : 'EEEE, MMMM d yyyy'}}</div>
        <div class="time">{{date | date : 'hh:mm a'}}</div>
      </div>
      <div class="top-right">
        <div class="weather">
          <div class="weather-today">
            <span class="tempreture">{{currentForcast.temperature}}&deg;</span>
          </div>
          <div class="weather-week-descriptor">{{weeklyForcast.summary}}</div>
          <div class="weather-week" ng-repeat="forcast in weeklyForcast.data" ng-if="$index > 0">
            <div class="weather-week-day">
              <span class="day light-grey">{{forcast.day}}</span>
              <span class="tempreture tempreture-min">{{forcast.temperatureMin}}</span>
              <span class="tempreture tempreture-max">{{forcast.temperatureMax}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="middle-center">
        <h1>{{complement}}</h1>
        <h3 ng-show="!(user.name === undefined)">{{user.name}}</h3>
        <!-- <div class="listening" ng-show="listening">Ready: {{focus}}</div> -->
        <div class="map-container animate-grow" ng-show="focus == 'map'">
          <img class="map animate-grow" ng-src="{{map}}"/>
        </div>
      </div>
      <div class="bottom-center">
        <!-- Command list -->
        <div class="commands animate-grow" ng-show="focus == 'commands'">
          <h2>가능한 명령어들</h2>
          <dl>
            <dt>"시작"  "끄기"</dt>
            <dd>화면을 키고 끕니다.</dd>
            <dt>"돌아가"</dt>
            <dd>메인화면으로 돌아갑니다.</dd>
            <dt>"지도"</dt>
            <dd>기본설정된 장소의 지도를 보여줍니다.</dd>
            <dt>"지도 ________"</dt>
            <dd>말한 장소의 지도를 보여줍니다.</dd>
            <dt>"내이름은 ________"</dt>
            <dd>"상단에 이름을 표시해줍니다."</dd>
            <dt>"노래 ________" "정지" "소리 크게" "소리 작게"</dt>
            <dd>"노래를 찾아 재생합니다."</dd>
            <dd>(기본:러브,사뿐사뿐,아예,청혼,틈)</dd>
          </dl>

        </div>

        <div class="interim-result" ng-bind="interimResult"></div>
      </div>
      <div class="colors animate-grow" ng-show="focus == 'colors'">
        <div class="color-block" ng-repeat="color in colors" style="background-color:{{color}}"></div>
      </div>
    </div>
    <!-- Debug Buttons -->
    <div class="debug-info">
      <!--<button ng-click="debug = true">Open Debug</button>-->
    </div>
    <div class="debug-info" ng-show="debug == true">
      <button ng-click="focus = (focus == 'map')?'default':'map'">Map</button>
      <button ng-click="focus = (focus == 'colors')?'default':'colors'">Colors</button>
      <button ng-click="focus = (focus == 'commands')?'default':'commands'">Commands</button>
      <button ng-click="debug = false">Close Debug</button>
      <!-- Has results -->
      <div ng-show="commands.results.length > 0">
        <button class="btn btn-default" ng-click="commands.clearResults()">Clear</button>
        <hr/>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="result in commands.results">
            <span class="badge">{{ result.date | date : 'EEE MMM, yyyy hh:mm:ss a' }}</span>
            {{ result.content }}
          </li>
        </ul>
      </div>
    </div>
    <!-- Sleep cover -->
    <div ng-show="focus == 'sleep'" class="sleep-cover fade"></div>
    <audio src="musics/breeze.mp3" id="audio01" autostart="false"></audio>

  </body>
</html>
